<!doctype html>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>board</h1>
    <%- loginUI %>
    <a href="/userinfo">my subscription</a>
    <div>
        <%- categoryList %>
    </div>
    <div>
        <p>전체글보기</a></p>
        <%- postList %>
    </div>
    <button type="button"><a href="/postCreate:0">글쓰기</a></button>
    
</body>
</html>