<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <h1>board</h1>
    <%- authStatusUI %>
    <a href="/userinfo">my subscription</a>
    <%- categoryList %>
    
</body>
</html>