<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>login</h1>
    <div>
        <input type="text" id="id" placeholder="id">
        <input type="password" id="password" placeholder="password">
        <button type="submit" id="login">Login</button>
    </div>
    <p>
        <button type="button"><a href="/signup">Sign up</a></button>
    </p>

    <script src="/js/login.js"></script>
</body>
</html>