<!doctype html>
<html>
<head>
    <title>signUP</title>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>signUP</h1>
    <div>
        <p>
            <input type="text" id="id" placeholder="id">
        </p>
        <p>
            <input type="password" id="password" placeholder="password">
        </p>
        <p>
            <button type="submit" id="create">Create Account</button>
        </p>
    </div>
    <p>
        <button type="button"><a href="/">home</a></button>
    </p>
    <script src="/js/signup.js"></script>
</body>
</html>